@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button {
	@apply px-6 mt-6 py-2 bg-warm_purple text-white rounded-md flex flex-row items-center justify-center hover:scale-95 font-semibold;
}

.quotesGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 2rem;
}

.quotesBox {
	background-color: rgb(233, 229, 235);
	text-align: left;
	padding: 2rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
	border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.form-container {
	@apply flex flex-col items-center;
}

.form-input {
	@apply p-2 border border-gray-300 rounded-md mb-4 focus:outline-none focus:border-gray-600 text-black w-[auto];
}

.user-image {
	@apply border border-gray-300 rounded-full;
}
